* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Kalimati, Verdana, sans-serif;
    font-size: 100%;
    font-weight: 100;
    color: #666;
    line-height: 200%;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-top: 18px;
}

header {
    margin-top: 27px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #f07c17;
}

img {
    margin-top: 20px;
}

.features-block {
    margin-top: 31px;
    padding: 10px 31px 30px;
    outline: #ccc solid 1px;
}

.features-block-il {
    word-spacing: 5px;
    padding-top: 0px;
    line-height: 32px;
}

p {
    font-size: 14px;
    word-spacing: 5px;
    margin-top: 10px;
    line-height: 32px;
}
